{% extends "base-timetable.html" %}

{% block header_title %}
Edit Time Table for {{ semester }}
{% endblock %}

{% block als_body %}
    <li class="list-group-item">
        <a href="{% url 'view-timetable' pk=semester.pk %}">View Timetable</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit-times' pk=semester.pk %}">Edit Times</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit-days' pk=semester.pk add_rem='add' %}">Add New Day</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit-days' pk=semester.pk add_rem='remove' %}">Delete Last Day</a>
    </li>
{% endblock %}

{% block content_heading %}
Edit time table for {{ semester }}
{% endblock %}

{% block content_body %}
    <form action="{% url 'edit-timetable' pk=semester.pk %}" method="POST" id="tt-form" class="form-group">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                </th>
                
                {% for t in formatted_times %}
                    <th>{{ t|time:"g:i A"}}</th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for row, cells in timetable.items %}
                <tr>
                    <td><strong>{{ row }}</strong></td>
                    {% for cell in cells %}
                        <td>
                            <select class="form-control" name="{{ row }}" form="tt-form">
                                {% for sub in subjects %}
                                    {# This just seems more readable than having an if statement inline #}
                                    {% if cell == sub %}
                                        <option value="{{ sub.pk }}" selected>
                                            {{ sub }}
                                        </option>

                                        {% else %}
                                        <option value="{{ sub.pk }}" >
                                            {{ sub }}
                                        </option>            
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    {% endfor %}
                </tr>    
            {% endfor %}
            <tr>
            <td>
               
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}

{% block other_content %}
     <input type="submit" value="Save" class="btn btn-primary" />
    </form>
    <!-- ends the form in the other block -->
    <!-- not happy with this but it looks nicer -->

{% endblock %}