{% extends "base-timetable.html" %}

{% block header_title %}
Time table for {{ semester }}
{% endblock %}
{% block header_subtitle %}

{% endblock %}

{% block als_body %}
<li class="list-group-item">
    <a href="{% url 'select-timetable' %}">Select Semester</a>
</li>
{% endblock %}

{% block content_heading %}

    {{ semester }}
{% endblock %}
{% block content_body %}
        <table class="table">
            <tr>
                <td>
                </td>
                {% for t in formatted_times %}
                    <th>{{ t|time:"g:i A" }}</th>
                {% endfor %}
            </tr>
            {% for row, cells in timetable.items %}
            <tr>
                <td><strong>{{ row }}</strong></td>
                {% for cell in cells %}
                    <td>
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
            {% empty %}
            <p>A time table does not exist for this semester. </p>
            {% endfor %}
        </table>
   <!-- end panel body in super block -->
    
{% endblock %}
{% block other_content %}

<div class="panel panel-default">
<div class="panel-body">
        {% if edit %}
            {% if not timetable %}
                <a class="btn btn-info" href="{% url 'edit-timetable' pk=semester.pk %}">Create</a>
            {% else %}
                <a class="btn btn-danger" href="{% url 'edit-timetable' pk=semester.pk %}">Edit</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}