{% extends "base-action-page.html" %}

{% block header_title %}
Select course to change HOD for
{% endblock %}


{% block content %}
<div class="panel panel-info">
    <div class="panel-heading"><strong>College Courses</strong></div>
        <ul class="list-group">
            {% for course in courses %}
                <li class="list-group-item">
                    <a href="{% url 'set-hod' course_pk=course.pk %}">{{course}}</a>
                </li>
            {% endfor %}
        </ul>
</div>

{% endblock %}

