{% extends "base_generic.html" %}


{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">My Profile</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is the basic profile page. It shows your personal details along with some relevant stuff.
        </p>
    </div>
</div>
{% endblock %}

{% block left_sidebar %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <strong>View</strong>
    </div>
     <div class="panel-content">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<h1>
{{ user.last_name }}, {{ user.first_name }}
</h1>

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>My Details</strong>
    </div>
     <div class="panel-content">
        <ul class="list-group">
            <li class="list-group-item"><strong>Username: </strong>{{user.username}}</li>
            <li class="list-group-item"><strong>Date of Birth:</strong> {{user.basicinfo.date_of_birth }}</li>
            <li class="list-group-item"><strong>Contact: </strong>{{ user.basicinfo.contact_number }}</li>
            <li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
            <li class="list-group-item"><strong>Group: </strong> {{ user.basicinfo.group}}</li>
        </ul>
    </div>
</div>
{% endblock %}