{% extends "base_generic.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">Authentication Requests</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is where requests for authentication are shown. Here you can grant a user all the privileges of the group they have requested to join.
        </p>
    </div>
</div>
{% endblock %}

{% block staticfiles %}
{% load static %}
<script src="{% static 'js/approve_request.js' %}"></script>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Authentication Requests</strong>
    </div>
    <div class="panel-body">
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Applied to Group</th>
            <th>Request Date</th>
        </tr>
    {% for request in all_requests %}
        <tr id="row-{{request.pk}}">
            <td>{{ request.user }}</td>
            <td>{{ request.group }}</td>
            <td>{{ request.request_date}}</td>
            <td>
                <form id="{{ request.pk }}" class="auth_req" 
                action="{% url 'grant_request' %}" method="GET">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Approve" />
                </form>
            </td>
        </tr>
        </form>
    {% endfor %}
    </td>
    </div>
</div>

<script type="text/javascript">

</script>
{% endblock %}