{% extends "base_generic.html" %}

{% block staticfiles %}
    {% load static %}
    <script src="{% static 'js/select-course-semester.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/select-course-semester.css' %}" />
    <!-- common JS code available to all base-action-page children, eg: the Jquery UI Datepicker -->
    <script src="{% static 'js/base-action-common.js' %}"></script>
{% endblock %}


{% block left_sidebar %}
    <div class="sidebar-nav">
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>User Actions</strong></div>
            {% if user.is_authenticated %}
                <div class="panel-body">
                    <a href="{% url 'user-detail' pk=user.id%}">
                        Logged in as: {{ user.username }}
                    </a>
                </div>
                <div class="panel-body">
                   <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="panel-body">
                   <a href="{% url 'logout' %}" class="btn btn-sm btn-danger">Logout</a>
                </div>
                
            {% else %}
                <div class="panel-body">
                 
                    <p>You must log in to view actions</p>
                    <br />
                    <a class="btn btn-link" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-link" href="{% url 'register' %}">Register</a>

                </div>

            {% endif %}
            
        </div>
    </div>
    {% block additional_left_sidebar %}
        <div class="sidebar-nav">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Options</strong>
                </li>
                {% block als_body %}
                {% endblock %}
            </ul>
        </div>
    {% endblock %}

{% endblock %}



{% block pageheader %}
        <div id="page-header">
            <div class="container"><h1 class="display-3">
                    {% block header_title %}
                    {% endblock %}
                    </h1>
                <hr style="border-top: 1px solid; border-color: white;" />
                <p class="lead">
                    {% block header_subtitle %}
                    {% endblock %}
                </p>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading ">
            <strong>
                {% block content_heading %}{% endblock %}
            </strong>
        </div>
        <div class="panel-body table-responsive">
            {% block content_body %}
            {% endblock %}
        </div>
        {% block panel_other_content %}
        {% endblock %}
    </div>

    {% block other_content %}
    {% endblock %}

    {% block pagination %}
        <ul class="pagination">
        {% if page_obj.has_other_pages %}
            {% if page_obj.has_previous %}
                <li><a href="?page{{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class"disabled"><span>&raquo;</span></li>
            {% endif %}

        {% endif %}
        </ul>
    {% endblock %}
{% endblock %}