{% extends "base_generic.html" %}

{% block staticfiles %}
    {% load static %}
    <script src="{% static 'js/select-course-semester.js' %}"></script>
    <!-- common JS code available to all base-action-page children, eg: the Jquery UI Datepicker -->
    <script src="{% static 'js/base-action-common.js' %}"></script>
{% endblock %}


{% block left_sidebar %}
    <div class="sidebar-nav">
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>User Actions</strong></div>
            {% if user.is_authenticated %}
                <div class="panel-body">
                    <a href="{% url 'user-detail' pk=user.id%}">
                        Logged in as: {{ user.username }}
                    </a>
                </div>
                <div class="panel-body">
                   <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="panel-body">
                   <a href="{% url 'logout' %}" class="btn btn-sm btn-danger">Logout</a>
                </div>
                
            {% else %}
                <div class="panel-body">
                 
                    <p>You must log in to view actions</p>
                    <br />
                    <a class="btn btn-link" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-link" href="{% url 'register' %}">Register</a>

                </div>

            {% endif %}
            
        </div>
    </div>
    {% block additional_left_sidebar %}
        <div class="sidebar-nav">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Options</strong>
                </li>
                {% block als_body %}
                {% endblock %}
            </ul>
        </div>
    {% endblock %}

{% endblock %}



{% block pageheader %}
        <div id="page-header">
            <div class="container"><h1 class="display-3">
                    {% block header_title %}
                    {% endblock %}
                    </h1>
                <hr style="border-top: 1px solid; border-color: white;" />
                <p class="lead">
                    {% block header_subtitle %}
                    {% endblock %}
                </p>
            </div>
        </div>
{% endblock %}

