{% extends "base_generic.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">My Dashboard</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is your dashboard. Here you have all the available actions you
        can perform.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <table class="table action-table">
            <tr>
                <td><strong>Requests</strong></td>
                <td><a class="btn btn-info" href="{% url 'requests' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Notices</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'notices' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Attendance</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-attendance' %}">GO</a>
                </td>
            </tr>
             <tr>
                <td><strong>Internal Assessment</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-internal-assessment' %}">GO</a>
                </td>
            </tr>
            <tr>
                {% if perms.user_management.can_write_subject_faculty %}
                <td><strong>Set Faculty Subject</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-subject' %}">GO</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                {% if perms.user_management.can_auth_FacultyHOD %}
                <td><strong>Set Course HOD</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-hod-course' %}">GO</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td><strong>Time Table</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'semester-timetables' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Assignments</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-assignment' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Activity Log</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-activity' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>University Credits</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-credits' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Online Discussion</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'view-posts' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Examinations</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'view-exams' %}">GO</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
