{% extends "base_generic.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">My Dashboard</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is your dashboard. Here you have all the available actions you
        can perform.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <table class="table action-table">
            <tr>
                <td><strong>Requests</strong></td>
                <td><a class="btn btn-info" href="{% url 'requests' %}">View</a>
                </td>
                
            </tr>
            <tr>
                <td><strong>Notices</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'notices' %}">View</a>
                    {% if perms.user_management.can_write_notices %}
                    <a class="btn btn-primary" href="{% url 'create_notice' %}">Create</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Attendance</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-attendance' %}">View</a>
                    {% if perms.user_management.can_write_attendance %}
                    <a class="btn btn-primary" href="#">Create</a>
                    {% endif %}
                </td>
            </tr>
             <tr>
                <td><strong>Internal Assessment</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'internal-assessment' %}">View</a>
                    {% if perms.user_management.can_write_internal_assessment %}
                    <a class="btn btn-primary" href="#">Create</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
