{% extends "base-action-page.html" %}

{% block pageheader %}
        <div id="page-header">
            <div class="container"><h1 class="display-3">
                    {% block header_title %}
                    {% endblock %}
                    </h1>
                <hr style="border-top: 1px solid; border-color: white;" />
                <p class="lead">
                    {% block header_subtitle %}
                    {% endblock %}
                </p>
            </div>
        </div>
{% endblock %}


{% block content_body %}
{% if errors %}
    <div style="color: red">Please select a value for all options</div>
{% endif %}

<form id="select-form" action="{% block form_url %}{{ request.path }}{% endblock %}" method="POST">
{% csrf_token %}
<table class="table table-striped">
<tr class="form-group">
<td>
    <p><strong>
        <label for="select-course">Course</label>
    </strong></p>
</td>
<td>
        <select name="course" id="select-course" class="select form-control" form="select-form" >
        <option> --- </option>
        {% for c in course %}
            <option>
                {{ c }}
            </option>
        {% endfor %}
        </select> {{ form.course.errors }}
</td>
</tr>
<tr class="form-group">
<td>
    <p>
        <strong>
            <label for="select-semester">Semester</label>
        </strong>
    </p>
</td>
<td>
        <select name="semester" id="select-semester" class="select" form="select-form" required>
        <option> ---
        </option>
        {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>{{ form.semester.errors }}
</td>

</td>
</tr>

    {% block other_options %}
    <tr>
        <td>
            <p>
                <strong>
                    <label for="select-subject">Subject</label>
                </strong>
            </p>
        </td>
        <td>
        <fieldset>
            <select name="subject" id="select-subject" class="select" form="select-form">
            <option> ---
            </option>
            {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>{{ form.course.errors }}
</td>
        </fieldset>
        </td>
    </tr>
    {% endblock %}
<tr>
    <td>
        <p>
            <input type="submit" class="btn btn-primary" id="btn-view" value="View" />
        </p>
    </td>
</tr>
</table>
</form>

{% endblock %}

{% block other_content %}
{% endblock %}