{% extends "base-action-page.html" %}

{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/select_attendance.css' %}" />
    <script src="{% static 'js/select-course-semester.js' %}"></script>
{% endblock %}

{% block pageheader %}
        <div id="page-header">
            <div class="container"><h1 class="display-3">
                    {% block header_title %}
                    {% endblock %}
                    </h1>
                <hr style="border-top: 1px solid; border-color: white;" />
                <p class="lead">
                    {% block header_subtitle %}
                    {% endblock %}
                </p>
            </div>
        </div>
{% endblock %}


{% block content %}
<table class="table">
<form id="select-form" class="form-group" action="{% block form_url %}{{ request.path }}{% endblock %}" method="POST">
{% csrf_token %}
<tr>
<td>
    <p><strong>Course</strong></p>
</td>
<td>
    <fieldset>
        <select name="course" id="select-course" class="select" form="select-form" >
        <option>
                ---
            </option>
        {% for c in course %}
            <option>
                {{ c }}
            </option>
        {% endfor %}
        </select>
    </fieldset>
</td>
</tr>
<tr>
<td><p><strong>Semester</strong></p></td>
<td>
    <fieldset>
        <select name="semester" id="select-semester" class="select" form="select-form" >
        {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>
    </fieldset>
</td>
</tr>

    {% block other_options %}
    <tr>
        <td><p><strong>Subject</strong></p></td>
        <td>
        <fieldset>
            <select name="subject" id="select-subject" class="select" form="select-form" >
            {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>
        </fieldset>
        </td>
    </tr>
    {% endblock %}
<tr>
    <td>
        <p>
            <input type="submit" class="btn btn-primary" id="btn-view" value="View" />
        </p>
    </td>
</tr>

    
</form>
</table>

<script>
</script>
{% endblock %}