{% extends "dashboard.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">My Dashboard</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is your dashboard. Here you have all the available actions you
        can perform.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <table class="table action-table">
            <tr>
                <td><strong>Notices</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'notices' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>My Attendance</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'view-student-attendance' %}">GO</a>
                </td>
            </tr>
             <tr>
                <td><strong>My Internal Assessment</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-internal-assessment' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>My University Credits</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'view-student-credits' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Time Table</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-timetable' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Assignments</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-assignment' %}">GO</a>
                </td>
            </tr>
            <tr>
                <td><strong>Document Requests</strong></td>
                <td>
                <a class="btn btn-info" href="{% url 'view-my-document-requests' %}">GO</a>
                </td>

            </tr>
            <tr>
                <td><strong>Online Discussion</strong></td>
                <td>
                <a class="btn btn-info" href="{% url 'view-posts' %}">GO</a>
                </td>

            </tr>
            <tr>
                <td><strong>Study Material</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-study-material' %}">GO</a>
                </td>
            </tr>

        </table>
    </div>
</div>
{% endblock %}
