{% extends "dashboard.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">My Dashboard</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is your dashboard. Here you have all the available actions you
        can perform.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <table class="table action-table">
            <tr>
                <td><strong>Notices</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'notices' %}">View</a>
                </td>
            </tr>
            <tr>
                <td><strong>My Attendance</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'student-attendance-list' %}">View</a>
                </td>
            </tr>
             <tr>
                <td><strong>My Internal Assessment</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-internal-assessment' %}">View</a>
                </td>
            </tr>
            <tr>
                <td><strong>My Time Table</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'semester-timetables' %}">View</a>
                </td>
            </tr>
            <tr>
                <td><strong>Assignments</strong></td>
                <td>
                    <a class="btn btn-info" href="{% url 'select-assignment' %}">View</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
