{% extends "base-attendance.html" %}

{% block header_title %}
Attendance for {{ semester }}
{% endblock %}
{% block header_subtitle %}
{{ date }}

{% endblock %}
{% block staticfiles %}
    {{ block.super }}
    {% load static %}

    <script src="{% static 'js/attendance-list.js' %}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}


{% block content_body %}
{# {% url 'save-attendance-list' pk=semester.pk date=date %} #}
    
    <form action="{% url 'save-attendance-list' pk=semester.pk date=date %}" method="POST" id="save-form">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <p>Student</p>
                </th>
                {% for sub in subjects %}
                    <th>
                        {{ sub }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for student, presence in attendance_list.items %}
            <tr>
                <td class="student-name"><!-- for use in JS code-->
                    <span style="display: none">{{ student.user.username }}</span>
                    <p>{{ student.user.first_name }} {{ student.user.last_name}}</p>
                </td>
                {% for key, val in presence.items %}
                    <td class="student-check">
                        <span style="display: none">{{ key.pk }}</span>
                        <input type="checkbox" name="{{ student.user.username }}" {% if val == True %} checked {% endif %}
                        {% if key.subject.name not in faculty_subjects %} disabled {% endif %} />
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <input id="save-button" class="btn btn-primary" type="submit" value="Save">
    </form>

    <script>
    $(function () {
        $("#save-button").click(function (event) {
            //$("#alert-div").html("Attendance saved!");
            $("#alert-div").css('display', '');
        })
    })
    </script>
{% endblock %}

{% block other_content %}
{% if perms.user_management.can_auth_Faculty %}

<div class="panel panel-default">
    <div class="panel-body">
        <a href"" class="btn btn-large btn-danger">Generate for current month</a>
    </div>
</div>

{% endif %}
<div id="alert-div" class="alert alert-success" style="display: none">
</div>
{% endblock %}