{% extends "base_generic.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Subject</th>
                <th>Subject</th>
                <th>Attended</th>
            </tr>
        </thead>
        <tbody>

        {% for row, values in attendance_list.items %}
            <tr>
                <td>
                    {{ row.user.username }}
                </td>
                {% for a in values %}
                <td>
                    {{ a }}
                </td>
                {% endfor %}
                {# <td>{{ att.student.user.first_name}} {{ att.student.user.last_name}}
                </td>
                <td>{{ att.lecture.subject.name }}
                </td>
                <td>
                    {{ att.is_present }}
                </td> #}
            </tr>
        {% endfor %}
    </table>
{% endblock %}