#content-div {
    /*text-align: center;*/
    background: white;
    padding: 10px 10px;
    min-height: 680px;
}

.info {
    margin: 2px;
    text-align: left;
}


#page-header {
    background-color: #5fedf3;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-right: 15px;
    padding-left: 15px;

    margin-bottom: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}