{% extends "base-action-page.html" %}

{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/internal-assessment.css' %}" />
{% endblock %}

{% block header_title %}
    {{ student }}
{% endblock %}
{% block header_subtitle %}
{{ subject }}
{% endblock %}

{% block als_body %}
<li class="list-group-item">
    <a href="{% url 'student-metric-table' subject_pk=subject.pk %}">View Internal Assessment</a>
</li>
<li class="list-group-item">
    {% if auth %}
        <a href="{% url 'edit-metrics' pk=subject.pk %}">Edit Metrics</a>
    {% endif %}
</li>
{% endblock %}


{% block content %}
{% for smetric in student_metrics %}
<form action="{{ request.path }}" id="form-{{forloop.counter0}}" class="form-group metric-form" method="POST">
{% csrf_token %}
    <ul class="list-group">
    <li class="list-group-item">
        <strong>{{ smetric.metric.name }}</strong>
    </li>
    <li class="list-group-item">
        <input name="max_marks" type="hidden" class="metric-input" value="{{ smetric.metric.max_marks }}"/>
        <input name="marks" type="number" max="{{ smetric.metric.max_marks }}" min=0 required  value="{{ smetric.marks }}"/> / <span>{{ smetric.metric.max_marks }}</span>
    </li>
    
    <input type="hidden" name="metric_pk" value="{{ smetric.metric.pk }}" />
    <li class="list-group-item"><input type="submit" class="btn btn-primary btn-sm" name="submit" value="Save" />
    </li>
    </ul>
</form>
{% endfor %}

{% endblock %}