{% extends "base-action-page.html" %}

{% block header_title %}
{{ activity.title }}
{% endblock %}
{% block header_subtitle %}
{{ activity.semester }} activity</div>
{% endblock %}

{% block als_body %}
<li class="list-group-item">
		<a href="{% url 'activity-list' semester_pk=activity.semester.pk %}">All
				Activities</a>
{% endblock %}
</li>
{% endblock %

{% block content %}
        <ul class="list-group">
            <li class="list-group-item"><strong>Title: </strong>{{ activity.title }}</li>
            <li class="list-group-item"><strong>Date: </strong>{{ activity.date }}</li>
            <li class="list-group-item"><strong>Conductor: </strong>{{ activity.conductor }}</li>
            <li class="list-group-item"><strong>Description: </strong>
                {{ activity.description }}</li>
            <li class="list-group-item">
                {% if perms.user_management.can_write_activity_log %}
                    <td><a href="{% url 'activity-update' pk=activity.pk %}">Edit</a> </td>
                {% endif %}
            </li>
            
        </ul>
</div>

{% endblock %}
