{% extends "base-action-page.html" %}


{% block header_title %}
Create Activity for {{ semester }}
{% endblock %}
{% block content %}

{% block als_body %}
<li class="list-group-item">
		<a href="{% url 'activity-list' semester_pk=activity.semester.pk %}">All
				Activities
        </a>
{% endblock %}

<table class="table">
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <tr>
        <td>
            <input type="hidden" name="semester_pk" value="{{ semester.pk }}" />    
            <input class="btn btn-primary" type="submit" value="Save" />
        </td>
    </tr>
    </form>
</table>
{% endblock %}
