{% extends "base-action-page.html" %}

{% block header_title %}
Activities for {{ semester }}
{% endblock %}

{% block content %}


<table class="table">
<tr>
    <th>Title</th>
    <th>Date</th>
    <th>Description</th>
    <th>Conductor</th>
</tr>
{% for activity in activity_list %}
    <tr>
        <td> {{ activity.title }} </td>
        <td> {{ activity.date }} </td>
        <td> {{ activity.description|slice:":20" }}... </td>
        <td> {{ activity.conductor }} </td>
        <td><a href="{% url 'activity-detail' pk=activity.pk %}">View</a> </td>
                {% if perms.user_management.can_write_activity_log %}
                    <td><a href="{% url 'activity-update' pk=activity.pk %}">Edit</a> </td>
                {% endif %}
    </tr>
{% endfor %}
</table>

{% if perms.user_management.can_write_activity_log %}
    <a href="{% url 'create-activity' semester_pk=semester.pk %}">Create Activity</a> 
{% endif %}

{% endblock %}