{% extends "base-examinations.html" %}

{% block header_title %}
Examinations
{% endblock %}

{% block staticfiles %}
{% load static %}
{{ block.super }}
<!-- Borrow the year thing from the create page -->
<script src="{% static 'js/create-exam.js' %}"></script>
{%endblock%}

{% block content_heading %}
Exams
{% endblock %}

{% block content_body %}
{% for exam in exam_list %}

<ul class="list-group">
    <li class="list-group-item">
    <h3>{{ exam.exam_name }}</h3>
    </li >
    <li class="list-group-item">
        <span class="academic_year">{{ exam.academic_year }}</span>&nbsp;/
        <span class="next-year"></span>
        
    </li>
    <li class="list-group-item">
    <a href="{% url 'room-assignments' exam_pk=exam.pk %}">Room Assignments</a>
    </li>
    <li class="list-group-item">
    <a href="{% url 'view-exam-time-table' exam_pk=exam.pk %}">Time Table</a>
    </li>
    {% if perms.user_management.can_write_exam_schedule %}
    <li class="list-group-item">
        <a href="{% url 'update-exam' pk=exam.pk %}">Edit Exam</a>
    </li>
    {% endif %}
</ul>
{% endfor %}

</ul>
{% endblock %}

{% block other_content%}

<div class="panel panel-default">
<div class="panel-body">
{% if perms.user_management.can_write_exam_schedule %}
<a href="{% url 'create-exam' %}">Create Exam</a>
{% endif %}
</div>
</div>
{% endblock%}