{% extends "base-examinations.html" %}

{% block header_title %}
Create new Examination
{% endblock %}

{% block staticfiles %}
{% load static %}
{{ block.super }}
<script src="{% static 'js/create-exam.js' %}"></script>
{% endblock %}

{% block content_body %}
<form action="{{ request.path }}" method="POST">
{% csrf_token %}
<table class="table">
    <tr>
        <td>
            <strong>{{ form.exam_name.label }}: </strong>
        </td>
        <td>
            {{ form.exam_name }}
        </td>
        {{ form.exam_name.errors}}
    </tr>
    <tr>
        <td>
            <strong>Academic year: </strong>
        </td>
        <td>
            <input type="number" min=1970 name="academic_year"class="academic_year" value="{{ current_year }}" /> / <span class="next-year"></span>
            {{ form.academic_year.errors}}
        </td>
    </tr>
    
    <tr>
        <td>
            <input type="submit" class="btn btn-primary" value="Save" />
        </td>
    </tr>
</form>
</table>


{% endblock %}