{% extends "base-examinations.html" %}

{% block header_title %}
Select date to edit Room Assignment
{% endblock %}

{% block content_body %}
<table class="table">
<form action="{{ request.date }}" method="POST">
{% csrf_token %}
    <tr>
        <td><strong>Date:</strong></td >
        <td><input type="text" name="date" class="datepicker" required /></td>
    </tr>
    <tr>
        <td>
        <input type="hidden" name="exam_pk" value="{{ exam.pk }}" />
        <input type="submit" value="View" class="btn btn-primary" />
        </td>
    </tr>
</form>
</table>
{% endblock %}