{% extends "base-examinations.html" %}

{% block header_title %}
{{ exam }}
{% endblock %}
{% block header_subtitle %}
Room Assignments 
{% endblock %}

{% block content_body %}
{% regroup roomassignment_list by date as rooms_by_date %}
{% for rooms in rooms_by_date %}
    <div class="panel panel-default">
    <table class="table">
        <tr>
        <td colspan="3"><strong>{{ rooms.grouper }}</strong></td>
        <tr>
            <td>Room Name</td>
            <td>Starting Seat no.</td>
            <td>Ending Seat No.</td>
        </tr>
        {% for room in rooms.list %}
            <tr>
                <td>{{ room.room_name }}</td>
                <td>{{ room.start_seat }}</td>
                <td>{{ room.end_seat }}</td>
            </tr>
        {% endfor %}
        <tr>
        <td colspan="3">
            {% if perms.user_management.can_write_exam_hall_plan %}
                <a href="{% url 'edit-room-assignment' exam_pk=exam.pk date=rooms.grouper|date:"d/m/Y" %}">Edit</a>
            {% endif %}
        </td>
    </table>
    </div>
    {% empty %}
    <p>No rooms assigned for this exam</p>
{% endfor %}
{% if perms.user_management.can_write_exam_hall_plan %}
{% endif %}
{% endblock %}

{% block other_content %}

<div class="panel panel-default">
<div class="panel-body">
    {% if perms.user_management.can_write_exam_hall_plan %}
        <a href="{% url 'select-room-assignment' exam_pk=exam.pk %}">Add Date</a>    
    {% endif %}
    </div>
</div>
{% endblock %}