{% extends "base_generic.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading"><strong>{{ assignment.subject }}</strong> assignment</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Title: </strong>{{ assignment.title }}</li>
            <li class="list-group-item"><strong>Due Date: </strong>{{ assignment.due_date }}</li>
            <li class="list-group-item"><strong>Description: </strong>{{ assignment.description }}</li>
            <li class="list-group-item">
                {% if perms.user_management.can_write_assignments %}
                    <td><a href="{% url 'assignment-update' pk=assignment.pk %}">Edit</a> </td>
                {% endif %}
            </li>
            
        </ul>
    </div>
</div>

{% endblock %}