{% extends "base-assignments.html" %}

{% block header_title %}
Create Assignment for <strong>{{ subject }}</strong>
{% endblock %}


{% block content_body %}
    <form action="{{ request.path }}" method="POST" />
    {% csrf_token %}
    <table class="table">
        {#{{ form.as_table }}#}
        <tr>
            <td>{{ form.title.label }}</td>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <td>{{ form.due_date.label }}</td>
            <td>{{ form.due_date }}</td>
        </tr>
        <tr>
            <td>{{ form.descripton.label }}</td>
            <td>{{ form.description }}</td>
        </tr>
        <input type="hidden" id="subject" name="subject_id" value="{{ subject.pk }}" />
    </table>
    
    <input type="submit" class="btn btn-primary" value="Save" />
    </form>
{% endblock %}