{% extends "base-activity-log.html" %}

{% block header_title %}
Activities for {{ semester }}
{% endblock %}


{% block als_body %}
    <li class="list-group-item">
        <a href="{% url 'select-activity' %}">Select Semester</a>
    </li>
{% endblock %}

<!-- content -->
{% block content_heading %}
Activities
{% endblock %}
{% block content_body %}

    <table class="table">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>Conductor</th>
    </tr>
    {% for activity in activity_list %}
        <tr>
            <td> {{ activity.title }} </td>
            <td> {{ activity.date }} </td>
            <td> {{ activity.description|slice:":20" }}... </td>
            <td> {{ activity.conductor }} </td>
            <td><a href="{% url 'view-activity' pk=activity.pk %}">View</a> </td>
                    {% if perms.user_management.can_write_activity_log %}
                        <td><a href="{% url 'update-activity' pk=activity.pk %}">Edit</a> </td>
                    {% endif %}
        </tr>
        {% empty %}
    <p>No activities have been created for this semester.</p>
    {% endfor %}
    </table>

{% endblock %}
{% block other_content %}

<div class="panel panel-default">
<div class="panel-body">
{% if perms.user_management.can_write_activity_log %}
    <a href="{% url 'create-activity' semester_pk=semester.pk %}">Create Activity</a> 
{% endif %}
</div>
</div>
{% endblock %}