{% extends "base-action-page.html" %}

{% block header_title %}
{{ notice.title }}
{% endblock %}
{% block header_subtitle %}
    Priority: {{ notice.get_priority_display }}
{% endblock %}

{% block additional_left_sidebar %}
    <li class="list-group-item">
        <strong>Options</strong>
    </li>
    <li class="list-group-item">
    {% if perms.user_management.can_write_notices %}
        <p><a href="{% url 'update-notice' pk=notice.pk %}">Edit Notice</a></p>
    {% endif %}
    </li>
    <li class="list-group-item">
        <a href="{% url 'notices' %}">All Notices</a>
    </li>

{% endblock %}

{% block content %} 
<ul class="list-group">
            <li class="list-group-item"><strong>Title: </strong>{{ notice.title }}</li>
            <li class="list-group-item"><strong>Date: </strong>{{ notice.date }}</li>
            <li class="list-group-item"><strong>Priority: </strong>{{ notice.get_priority_display }}</li>
            <li class="list-group-item"><strong>Description: </strong>
                {{ notice.text }}
            </li>
            <li class="list-group-item"><strong>Other Details: </strong>
                {{ notice.other_details }}
            </li>
            <li class="list-group-item">
                {% if perms.user_management.can_write_notices %}
                    <td><a href="{% url 'update-notice' pk=notice.pk %}">Edit</a> </td>
                {% endif %}
            </li>
            
        </ul>
</div>
{% endblock %}