{% extends "base-action-page.html" %}

{% block header_title %}
Create a new notice
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        {# <div class="panel-heading"><strong>Edit Notice</strong></div> #}
        <div class="panel-body">
            <form action="{{ request.path }}" method="POST">
            <table class="table table-hover">
            {% csrf_token %}
                {{ form.as_table }}
            </table>

                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
{% endblock %}
