{% extends "base_generic.html" %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">{{ notice.title }}</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        Priority: {{ notice.get_priority_display }}
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-body">
        <h2><strong>To:</strong></h2>
        <h3><p>{{ notice.addressed_to }}</p></h3>


        <h2><strong>Date:</strong></h2>
        <h3><p>{{ notice.date }}</p></h3>

        <br />
        <h3><p>{{ notice.text }}</p></h3>

        <h2><strong>Other Details:</strong></h2>
        <h3>{{ notice.other_details }}</h3>

        <h2><strong>Signed By:</strong></h2>
        <h3>{{ notice.signed_by }}</h3>

    </div>
</div>
{% endblock %}