{% extends "base-internal-assessment.html" %}

{% block page_header %}
    {% block header_title %}
        Student Metrics
    {% endblock %}
    {% block header_subtitle %}
        Metrics for students in {{ subject }}
    {% endblock %}
{% endblock %}

{% block als_body %}
<li class="list-group-item">
    {% if auth %}
        <a href="{% url 'edit-metrics' pk=subject.pk %}">Edit Metrics</a>
    {% endif %}
</li>
<li class="list-group-item">
    <a href="{% url 'select-internal-assessment' %}">Select Subject</a>
</li>
{% endblock %}

{% block content_heading %}
{{ subject }}
{% endblock %}
{% block content_body %}
    <table class="table table-striped">
        <tr>
            <th>
                Student    
            </th>
            {% for metric in metrics %}
                <th>
                {{ metric.name }}
                </th>
            {% endfor %}
        </tr>
         {% for student, metrics in student_metrics.items %}
        <tr>
                <td>{{ student }}</td>
                {% for m in metrics %}
                    <td>{{ m.marks }}</td>
                {% endfor %}
                {% if auth %}
                    <td><a href="{% url 'edit-metrics-for-student' std_pk=student.pk sub_pk=subject.pk %}">Edit</td>
                {% endif %}
                
        </tr>
        {% empty %}
        <p>No metrics exist for this subject.</p>
        {% endfor %}
    </table>


    
{% endblock %}