{% extends "base_generic.html" %}


{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/select_attendance.css' %}" />
    <script src="{% static 'js/internal-assessment.js' %}"></script>
{% endblock %}

{% block content %}
<table class="table">
<form id="select-form" class="form-group" action="{{ request.path }}" method="POST">
{% csrf_token %}
<tr>
<td>
    <p><strong>Course</strong></p>
</td>
<td>
    <fieldset>
        <select name="course" id="select-course" class="select" form="select-form" required>
        {% for c in course %}
            <option>
                {{ c }}
            </option>
        {% endfor %}
        </select>
    </fieldset>
</td>
</tr>
<tr>
<td><p><strong>Semester</strong></p></td>
<td>
    <fieldset>
        <select name="semester" id="select-semester" class="select" form="select-form" required>
        {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>
    </fieldset>
</td>
</tr>
<tr>
<td>
<p><input type="submit" class="btn btn-primary" id="btn-view" value="View" />
</td>
</form>
</table>

<script>
</script>
{% endblock %}