{% extends "select-course-semester.html" %}

{% block staticfiles %}
{{ block.super }}
{% endblock %}

{% block page_header %}
    {% block header_title %}
        Internal Assessment
    {% endblock %}
    {% block header_subtitle %}
        Select a subject to view assessment for.
    {% endblock %}
{% endblock %}



{% block form_url %}
    {% url 'select-internal-assessment' %}
{% endblock %}

{% block other_options %}
<tr>
<td><p><strong>Subject</strong></p></td>
<td>
    <fieldset>
        <select name="subject" id="select-subject" class="select" form="select-form" required>
        {% for s in semesters %}
            <option>
                {{ s }}
            </option>
        {% endfor %}
        </select>
    </fieldset>
</td>
</tr>
{% endblock %}