{% extends "base_generic.html" %}

{% block content %}
<h3>{{ subject }}</h3>
    <table class="table">
        <tr>
            <th>
                Student    
            </th>
            {% for metric in metrics %}
                <th>
                {{ metric.name }}
                </th>
            {% endfor %}
        </tr>
         {% for student, metrics in student_metrics.items %}
        <tr>
                <td>{{ student }}</td>
                {% for m in metrics %}
                    <td>{{ m.marks }}</td>
                {% endfor %}
                {% if auth %}
                    <td><a href="{% url 'edit-metrics-for-student' std_pk=student.pk sub_pk=subject.pk %}">Edit</td>
                {% endif %}
                
        </tr>
        {% endfor %}
    </table>

    {% if auth %}
        <a class="btn btn-danger" href="{% url 'edit-metrics' pk=subject.pk %}">Edit</a>
    {% endif %}
    
{% endblock %}