<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>INSERT SITE TITLE HERE</title>
        <meta name="description" content="INSERT SITE DESCRIPTION HERE">
        <meta name="author" content="INSERT CONTENT HERE">
        
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

        <!-- Bootstrap stuff -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
            href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <!-- So it works on mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <!-- Google fonts -->
           {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

        {% block jsfiles %}
        {% endblock %}
    
    </head>

    <body>
        <!-- Standard container so you don't forget -->

        {% block header %}
            <header>
                <div id="site-header" class="container">
                    <h3>Student Information System</h3>
                </div>
            </header>
        {% endblock %}


        {% block pageheader %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {% block left_sidebar %}{% endblock %}
                </div>
                <div class="col-sm-10">          
                        {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
    
</html>

