<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>HTML5 Web page</title>
        <meta name="description" content="HTML5 page">
        <meta name="author" content="dhaval">

        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <!-- base64 encoded folder icon. Uncomment to use -->
        <!-- <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADR0dEAAAAAAACDzwD///8AAKL/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREiIiIiIiIiIiRERERERERCJEREREREREIkREREREREQiRERERERERCJEREREREREIkREREREREQiRERERERERCIiIiIiIiIiIjMzMzMzMzMiAAAAAAAAACIzMzMzMzMzIiREIiIiIiIhIiIhERERERERERERERERH//wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIP/AAD//wAA"
        rel="icon" type="image/x-icon" />A -->


        <!--[if lt IE 9]>
                        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
                        <![endif]-->

        <style>
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0;
        }

        /*
                 This is the minimal amount of CSS required for a website to look
                 half decent.
                 See: bettermotherfuckingwebsite.com
        */
        </style>
    </head>

<body>
    {% block content %}
    {% endblock %}
        
    
</body>
</html>
