{% extends "base_generic.html" %}

{% block staticfiles %}
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block pageheader %}
<div id="page-header">
    <div class="container"><h1 class="display-3">Welcome</h1>
        <hr style="border-top: 1px solid; border-color: white;" />
        <p class="lead">
        This is the landing page for unregistered users. Feel free to look around.
        </p>
    </div>
</div>
{% endblock %}


{% block left_sidebar %}
    <div class="sidebar-nav">
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>Actions</strong></div>
            {% if user.is_authenticated %}
                <div class="panel-body">
                    <a class="btn btn-link" href="{% url 'basicinfo-detail' pk=user.id%}">My Profile</a>
                </div>
            
            {% else %}

                <div class="panel-body">
                 
                    <p>You must log in to view actions</p>
                    <br />
                    <a class="btn btn-link" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-link" href="{% url 'register' %}">Register</a>

                </div>
                <div class="panel-body">
                   
                </div>
            {% endif %}
            
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="content-div">
    <div class="info">
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>Notices</strong></div>
            <div class="panel-body">
                <table class="table table-striped">
                    
                </table>
            </div>
        </div>
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>Time Table</strong></div>
            <div class="panel-body">
                <table class="table table-striped">
                
                </table>
            </div>
        </div>
        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>Activities</strong></div>
            <div class="panel-body">
                <table class="table table-striped">
                
                </table>
            </div>
            
        </div>

        <div id="notices" class="panel panel-info">
            <div class="panel-heading"><strong>Assignments</strong></div>
            <div class="panel-body">
                <table class="table table-striped">
                
                </table>
            </div>
        </div>
        <div id="StudyMaterials" class="panel panel-info">
            <div class="panel-heading"><strong>Study Materials</strong></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        
                    </table>
                </div>
            </div>
        <div id="ExamSchedule" class="panel panel-info">
            <div class="panel-heading"><strong>Exam Schedule</strong></div>
            <div class="panel-body">
                <table class="table table-striped">
                        
                </table>
            </div>
        </div>
        <div id="ExamHallPlan" class="panel panel-info">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Exam Hall Plan</strong></div>
                <div class="panel-body">
                    <table class="table table-striped">

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}