{% extends "base-fee-management.html" %}

{% block header_title %}
Student Fees
{% endblock %}

{% block content_heading %}
Student Fees
{% endblock %}
{% block content_body %}
<table class="table">
<tr>
    <th>Student Name</th>
    <th>Pending Amount</th>
    <th>Edit Fee</th>
    <th>Payments</th>
</tr>
{% for sfee in feecollection_list %}
<tr>
    <td>
        {{ sfee.student }}
    </td>
    <td>
         {{ sfee.pending_amount }} 
    </td>
    {% if perms.user_management.can_write_fee_collections %}
    <td>
        <a href="{% url 'edit-fees' std_pk=sfee.student.pk %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'add-payment' std_pk=sfee.student.pk %}" class="btn btn-primary">View</a>
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}