{% extends "base_generic.html" %}

{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<<script src="js/add_form_class.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block title %}Login {% endblock %}
{% block specialcontent %}
<div class="container">
<!-- I think this is deprecated but it works rather well
to perfectly center the form -->
    <center>
        <div class="panel panel-info login-ul">
            <div class="panel-heading"><strong>Login</strong></div>
            <div class="panel-body">
                <form class="form-group" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                    <ul class="list-group ">
                        <li class="list-group-item"><strong>{{ form.username.label }}</strong>
                            {{ form.username }}
                        </li>

                        <li class="list-group-item"><strong>{{ form.password.label }}</strong>
                        {{ form.password }}
                        </li>
                        {% for error in form.non_field_errors %}
                        <li class="list-group-item" style="color: red">{{ error }}</li>
                        {% endfor %}
                        <li class="list-group-item">
                            <input type="submit" class="btn btn-info btn-md" value="Login" />
                        </li>
                </ul>
                </form>
                <a href="#"><p>Forgot Password?</p></a>
            </div>
        </div>
    </center>
</div>
{% endblock %}

{% block header %}
{% endblock %}
