{% extends "base_generic.html" %}

{% block jsfiles %}

{% load static %}
<script src="{% static 'js/load_form.js' %}"></script>
<script src="{% static 'js/add_form_classes.js' %}"></script>

{% endblock %}

{% block content %}
    <div >
    <form method="POST">
    {% csrf_token %}
    <div class="panel panel-info" style="max-width: 540px;">
        <div class="panel-heading"><strong>Enter your user information</strong></div>
        <div class="panel-body">
            <table id="id_form" class="table">
                {{ user_form }}
                {{ basic_info_form }}
            </table>
        </div>
        <div class="panel-body">
            <table id="second_form" class="table">
            </table>
            <input type="submit" name="SAVE" value="Save!">
        </div>
    </div>
    </form>
    </div>
    <div id='success'>
    </div>

{% endblock %}
   {# {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                {{ field.errors }}
                <br />
            </tr>
            {% endfor %} #}