{% extends "base_generic.html" %}
{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<script src="js/add_form_class.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}


{% block specialcontent %}
<div class="container">
<center>
    <div class="panel panel-info login-ul">
        <div class="panel-heading">Reset Complete</div>
        <div class="panel-body">
            <p>Your new password has been set. Please login now.</p>
            <p><a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</center>
</div>
{% endblock %}

{% block header %}
{% endblock %}