{% extends "base_generic.html" %}
{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<script src="js/add_form_class.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}


{% block specialcontent %}
<div class="container">
<center>
    <div class="panel panel-info login-ul">

    {% if validlink %}
    <div class="panel-heading"><p>Please enter your new password twice.</p></div>
    <div class="panel-body">
    <form class="form-group" action="" method="POST">
        {% csrf_token %}
         <ul class="list-group">
            <li class="list-group-item">
                <ul type="circle">
                    <li>Your password can't be too similar to your other personal information.
                    </li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </li>
            <li class="list-group-item">
                </strong>{{ form.new_password1.label }}:</strong>
                {{ form.new_password1 }}
            </li>
            <li class="list-group-item">
                </strong>{{ form.new_password2.label }}:</strong>
                {{ form.new_password2 }}
            </li>
            {% if errors %}
                <li class="list-group-item">
                    
                    {{ form.new_password1.errors }}    
                </li class="list-group-item">
                    {{ form.new_password2.errors }}
                </li>
            {% endif %}

        </ul>
        <input type="submit" class="btn btn-danger" value="Save new password">
    </form>
    {% else %}
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid. Possibly because it has already been used.</p>
    <p>Please request a new password reset</p>
    {% endif %}
    </div>
    </div>
</center>
</div>
{% endblock %}
    Your password can't be too similar to your other personal information.
    Your password must contain at least 8 characters.
    Your password can't be a commonly used password.
    Your password can't be entirely numeric.

{% block header %}
{% endblock %}