{% extends "base_generic.html" %}
{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<script src="js/add_form_class.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block specialcontent %}
<div class="container">
<!-- It just works -->
<center>
<div class="panel panel-info login-ul">
        <div class="panel-heading"><strong>Reset Link sent.</strong></div>
        <div class="panel-body">

            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <hr />
            <p>You should be receiving it shortly.</p>
        </div>
    </div>
</center>
</div>
{% endblock %}
{% block header %}
{% endblock %}
