{% extends "base_generic.html" %}

{% block title %}Password Reset{% endblock %}

{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<script src="js/add_form_class.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block specialcontent %}

<div class="container">
<!-- It just works -->
<center>
    <div class="panel panel-info login-ul">
        <div class="panel-heading"><strong>Reset Password</strong></div>
        <div class="panel-body">
        <p>Please enter your email to recieve a password reset link with instructions on how to reset your password.
        </p>
        <hr />
        <p>You will recieve one email <strong>for each username</strong> that is registered with that email address.</p>
        </div>
        <form class="form-group" method="POST" action="">
            <div class="panel-body">
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    <label for="id_emai">Email: </label>
                    {{ form.email }}
            </div>
            <div class="panel-body">
            <input type="submit" class="btn btn-danger" value="Reset password">
                    
            </div>
        </form>
    </div>
</center>
</div>

{% endblock %}

{% block header %}
{% endblock %}