{% extends "base-university-credits.html" %}

{% block header_title %}
Edit Student Credits 
{% endblock %}
{% block header_subtitle %}
Edit credits for student: {{ student.user }}
{% endblock %}

{% block als_body %}
<li class="list-group-item">
    <a href="{% url 'select-credits' %}">Select Semester</a>
</li>
<li class="list-group-item">
    <a href="{% url 'all-university-credits' semester_pk=student.semester.pk %}">View University Credits</a>
</li>
{% endblock %}

{% block content_body %}
{% for crd in credits %}
<form action="{{ request.path }}" id="form-{{ forloop.counter0 }}" class="form-group credit-form" method="POST">
{% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item">
            Subject: <strong>{{ crd.credit.subject }}</strong>
        </li>
        <li class="list-group-item">
            Student Credits:
            <input min="0" max="{{ crd.credit.max_credits }}" name="std_credits" type="number" required class="crd-input" value="{{ crd.marks }}" /> / {{ crd.credit.max_credits }}
        </li>
        <input type="hidden" name="crd_pk" value="{{ crd.pk }}" />
        <li class="list-group-item"><input type="submit" class="btn btn-primary btn-sm" name="submit" value="Save" />
        </li>
    </ul>
</form>
{% endfor %}

{% endblock %}